<tr>
  <td align="left" class="cta-td">
    <table class="container" role="presentation" cellspacing="0" cellpadding="0" border="0" align="left">
      <tr>
        <td class="cta-container">
          <%= link_to text, url, target: '_blank', class: 'btn cta', rel: 'noopener' %>
        </td>
      </tr>
    </table>
  </td>
</tr>
